<app-loader *ngIf="isLoading"></app-loader>

<div *ngIf="!isLoading" class="row animated fadeIn">
  <div class="col-2">
    <img [src]="artist.images | noImage" class="img-thumbnail img-circle" />
  </div>
  <div class="col">
    <h3>{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">
        Go to Artist's page
      </a>
    </p>
  </div>
  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-danger">
      Go Back
    </button>
  </div>
</div>

<div class="row m-5">
  <div class="col">
    <table class="table" style="color: white;">
      <thead>
        <th>Foto</th>
        <th>Album</th>
        <th>Song</th>
        <th>Preview</th>
      </thead>
      <tbody>
        <tr *ngFor="let topTrack of topTracks">
          <td>
            <img [src]="topTrack.album.images | noImage" class="img-thumb" />
          </td>
          <td>{{ topTrack.album.name }}</td>
          <td>{{ topTrack.name }}</td>
          <td>
            <audio [src]="topTrack.preview_url" controls></audio>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
